nav ul {
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.DropDw li a,
nav ul li a {
    text-decoration: none;
    color: var(--Textos);
    font-size: 20px;
    transition: .5s;
    position: relative;
}

nav ul li a::before {
    content: "";
    opacity: 0;
    width: 100%;
    height: 1px;
    background: var(--Sec);
    position: absolute;
    bottom: -35;
    left: 0;
    transition: all .2s ease-in-out;
}

.DropDw li a.atual,
nav ul li a.atual {
    color: var(--orange);
}

.DropDw li a:hover,
nav ul li a:hover {
    color: var(--Sec);
}

nav ul li a:hover::before {
    opacity: 1;
}

/**/
.MenuIcon {
    height: 40px;
}

.SideHeader {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
    background: var(--Body_Bg_normal);
    height: 100%;
    border: 2px solid rgb(32, 32, 32);
    border-top: none;
    transition: .2s ease-in-out;
}

.SideHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Drop {
    background: transparent;
    color: var(--Textos);
    height: 40px;
    width: 40px;
    position: relative;
    display: none;
    border: none;
    outline: none;
}

.DropDw {
    margin-top: 20px;
    border-top:2px solid var(--Sec);
    border-bottom:2px solid var(--Sec);
    list-style-type: none;
    padding: 5px;
    padding-left: 15px;
}