body {
    background: var(--Body_Bg_normal);
    background-repeat: no-repeat;
    color: var(--Textos); 
}
body.image {
    background: var(--Body_Bg), url("../img/Index.header.jpg");
}

.Separador {
    height: 10px;
    background: var(--Per_Bg);
    border: none;
}

/* !:> Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;

    height: 100px;
    backdrop-filter: blur(20px);
    position: relative;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(102,102,102,1);
}

.Logo {
    height: 120px;
}

.langselect {position: relative;}
.langselect svg {
    color: rgb(255,255,255);

}
.langselect select{
    height: 30px;
    padding-left: 30px;
    padding-right: 10px;
    color: var(--Textos);
    background: transparent;
    border-radius: 5px;
}
.langselect select option {
    background: rgba(0, 0, 0, 0.808);
    border-radius: 5px;
}
.langselect .langselectIcon {
    position: absolute;
    left: 10px;
    top: 7px;
}

.options {
    display: flex;
}
.options button {
    width: 100px;
    margin-left: 50px;
    font-size: 15px;
    background: var(--Sec);
    color: var(--Textos);
    border: none;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}
.options button:hover {
    background: var(--Pri);
    color: var(--Textos);
}

/* ?:> Main */
section,
main {
    height: 500px;
}
.maintext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.maintext h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 25px;
}
.maintext p {
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-weight: 400;
}

.maintext input{
    height: 50px;
    width: 400px;
    padding-left: 10px;
    font-size: 25px;
    color: var(--Textos);
    background:var(--Inputs_background);
    border: 2px solid var(--Inputs_border);
    border-radius: 5px;
}
.maintext input::placeholder {
    color: var(--Textos);
}
.maintext button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background: var(--Sec);
    color: var(--Textos);
    border: none;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}
.maintext button:hover {
    background: var(--Pri);
    color: var(--Textos);
}

/* !:>Footer */
footer {
    height: 100px;
    background: var(--Foo_Bg);

    display: flex;
    align-items: center;
    justify-content: center;
}
