main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
}

#Form {
    display: flex;
}

.left_Form {
    margin-left: 20px;
}
.left_Form textarea {
    width: 279px;
    height: 350px;
    resize: none;
    background: var(--item_bg);
    border: none;
    outline: none;
    color: var(--Textos);
    padding: 10px;
}
.left_Form h3 {
    text-align: center;
    margin-bottom: 20px;
}
.RegisterContainer {
    width: fit-content;
    padding: 10px;
    background: var(--Pro_list_bg);
    border-radius: 10px;
}

.RegisterContainer h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.input {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input.radio {
    justify-content: space-evenly;
}

.Subinput {
    display: flex;
    height: fit-content;
    align-items: center;
}
.Subinput p {
    height: 30px;
    margin-left: 5px;
}

.input input {
    color: var(--Textos);
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    background: var(--item_bg);
    border: none;
    outline: none;
}

.input input:hover,
.input input:focus {
    border-bottom: 2px solid var(--Sec);
}

.input button {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;

    background: var(--Button_bg);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--Texto);

    transition: all .2s ease-in-out;
}
.input button:hover {
    color: black;
    background: var(--Pri);
}

/* !:>Poster */
.Poster {
    min-width: 12.4vw;
    min-height: 18.5vw;
    position: relative;
    display: inline-block;
    transition: all .2s ease-in-out;
    overflow: hidden;
    display: inline-block;
    background: #000;
    border-radius: 1.5vw;
    transform-origin: bottom;
    will-change: transform;

    margin-right: 100px;

    background: var(--Sec);
    
}
.Poster img {
    min-width: 12.4vw;
    min-height: 18.5vw;
}
.Poster .infos {
    position: absolute;
    height: auto;
    top: unset;
    bottom: 0;
    left: 0;
    padding: 1.5vw;
    z-index: 20;
    color: var(--Textos);
    width: 100%;
}
.Poster .infos p {
    margin-bottom: 15px;
}
.Poster .grad {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.034));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.Poster .infos .b {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    font-size: .6vw;
    font-weight: 400;
    color: #adadad;
}
.Poster .infos .b .r::before {
    content: "";
    position: relative;
    display: inline-block;
    margin-right: 3px;
    top: 1px;
    opacity: .8;
    width: 0.6vw;
    height: 0.6vw;
    background-image: url(../svg/star.svg);
    background-size: cover;
}