:root {

    --Body_Bg: linear-gradient(to top, black,black,rgba(0, 0, 0, 0.589));
    --Textos: rgb(255,255,255);

    /* !:> BaseColors */
    --Grad: linear-gradient(to right, #ffeaa2,#f1ba00);
    --Pri: #d4c287;
    --Sec: #f1ba00;
    --LinkColor: #eb7412;

    /* !:>Buttons */
    --Log_Out: #ff7300;
    --Log_Out_hover: #a04e0a;

    /* ?:>Inputs */
    --Inputs_background:rgba(0, 0, 0, 0.329);
    --Inputs_border:rgb(180, 180, 180);

    /** :>Separadores */
    --Per_Bg: #333;
    --Foo_Bg: #101010;

    /* ?:>Cards e lsitas perfil */
    --orange: #ff790b;
    --item_bg: #3e3349;
    --Pro_list_bg :#191220;
    --Button_bg:#544663;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


