/** :> container */



.container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container .texto h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.container .texto p {
    font-size: 2rem;
    font-weight: 400;
}

#Img-Video {
    position: relative;
}

#Img-Video video {
    position: absolute;
    height: 220px;
    top: 53px;
    left: 122px;
    z-index: -1;
}


/* !:>Container de download */
.container_DW {
    position: relative;
}

.container_DW #imgdw {
    height: 100px;
}

.container_DW .DW {
    position: absolute;
    bottom: 30px;
    left: 129px;
    display: flex;
    background: black;
    padding: 10px;
    border: 2px solid var(--Per_Bg);
    border-radius: 20px;
}
.container_DW .DW .textos{margin-left: 10px;}
.container_DW .DW .textos p {color: var(--LinkColor); }
